/*長寬*/
/*藏字*/
/* line 29, ../sass/_brain_plugin.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, ../sass/introduce_nav.scss */
body {
  background: transparent;
}

/* line 7, ../sass/introduce_nav.scss */
#all_nav {
  width: 207px;
  height: 450px;
  position: relative;
}
/* line 11, ../sass/introduce_nav.scss */
#all_nav #slider_bar {
  width: 197px;
  height: 450px;
  background: #0c92cf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  right: 0;
}
/* line 18, ../sass/introduce_nav.scss */
#all_nav #slider_bar #logo_icon {
  width: 203px;
  height: 43px;
  top: 14px;
  left: -12px;
  position: relative;
}
/* line 24, ../sass/introduce_nav.scss */
#all_nav #slider_bar #banner_icon {
  width: 194px;
  height: 220px;
  position: inherit;
  margin-top: 35px;
}
/* line 28, ../sass/introduce_nav.scss */
#all_nav #slider_bar #banner_icon li {
  width: 179px;
  height: 27px;
  margin-top: 15px;
}
/* line 32, ../sass/introduce_nav.scss */
#all_nav #slider_bar #banner_icon li a {
  width: 179px;
  height: 27px;
  overflow: hidden;
  display: block;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 37, ../sass/introduce_nav.scss */
#all_nav #slider_bar #banner_icon li #nav_1 {
  background: url(../introduce/images/introduce_nav.gif) no-repeat top center;
}
/* line 38, ../sass/introduce_nav.scss */
#all_nav #slider_bar #banner_icon li #nav_1:hover {
  background-position: 0 -27px;
}
/* line 39, ../sass/introduce_nav.scss */
#all_nav #slider_bar #banner_icon li #nav_2 {
  background: url(../introduce/images/introduce_nav2.gif) no-repeat top center;
}
/* line 40, ../sass/introduce_nav.scss */
#all_nav #slider_bar #banner_icon li #nav_2:hover {
  background-position: 0 -27px;
}
/* line 41, ../sass/introduce_nav.scss */
#all_nav #slider_bar #banner_icon li #nav_3 {
  background: url(../introduce/images/introduce_nav3.gif) no-repeat top center;
}
/* line 42, ../sass/introduce_nav.scss */
#all_nav #slider_bar #banner_icon li #nav_3:hover {
  background-position: 0 -27px;
}
/* line 43, ../sass/introduce_nav.scss */
#all_nav #slider_bar #banner_icon li #nav_4 {
  background: url(../introduce/images/introduce_nav4.gif) no-repeat top center;
}
/* line 44, ../sass/introduce_nav.scss */
#all_nav #slider_bar #banner_icon li #nav_4:hover {
  background-position: 0 -27px;
}
/* line 45, ../sass/introduce_nav.scss */
#all_nav #slider_bar #banner_icon li #nav_5 {
  background: url(../introduce/images/introduce_nav5.gif) no-repeat top center;
}
/* line 46, ../sass/introduce_nav.scss */
#all_nav #slider_bar #banner_icon li #nav_5:hover {
  background-position: 0 -27px;
}
/* line 47, ../sass/introduce_nav.scss */
#all_nav #slider_bar #banner_icon li #nav_6 {
  background: url(../introduce/images/introduce_nav6.gif) no-repeat top center;
}
/* line 48, ../sass/introduce_nav.scss */
#all_nav #slider_bar #banner_icon li #nav_6:hover {
  background-position: 0 -27px;
}
/* line 49, ../sass/introduce_nav.scss */
#all_nav #slider_bar #banner_icon li #nav_7 {
  background: url(../introduce/images/introduce_nav7.gif) no-repeat top center;
}
/* line 50, ../sass/introduce_nav.scss */
#all_nav #slider_bar #banner_icon li #nav_7:hover {
  background-position: 0 -27px;
}
